.contenedor {
  margin: 0 auto;
  width: 90%;
}
img {
  max-width: 100%;
}
.button {
  border-radius: 15px;
  border: 6px solid #6366f1;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #6366f1) drop-shadow(0 0 50px #6366f1)
    contrast(2) brightness(2);
  font-size: 25px;
  padding: 0.75rem 2.5rem;
  transition: 0.5s;
}

.button:hover {
  color: white;
  background-color: #6366f1;
  filter: drop-shadow(0 0 20px #6366f1) contrast(2) brightness(2);
}

.buttons {
  border-radius: 15px;
  border: 6px solid #6366f1;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #6366f1) drop-shadow(0 0 50px #6366f1)
    contrast(2) brightness(2);
  font-size: 15px;
  padding: 0.75rem 2.5rem;
  transition: 0.5s;
}

.buttons:hover {
  color: white;
  background-color: #6366f1;
  filter: drop-shadow(0 0 20px #6366f1) contrast(2) brightness(2);
}

.skills-container {
  background-color: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}

.skills__name {
  display: flex;
  align-items: center;
  color: white;
}

.icon {
  font-size: 2rem;
  filter: brightness(0) saturate(100%) invert(88%) sepia(98%) saturate(2253%) hue-rotate(183deg) brightness(130%) contrast(109%);
}